html,
html,
body {
    margin: 0;
    background-color: violet;
}

h1 {
    text-align: center;
}

#wrap-newTask {
    text-align: center;
}

#taskList {
    list-style-type: none;
}
#wrap-list{
margin: 0 auto;
padding-bottom: 2em;
}
.custom-li{
    margin: 0 auto;
    border: 1px solid black;
    p
}
.gg-trash{
 margin-left: 90%;

}
