.App {
  text-align: center;
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.link{
  text-decoration: none;
}


.hr{
 position: absolute;
  bottom: 0;
 width: 100%;
 left: 0;
 padding: 0;
 margin: 0;
 color: rgb(255, 0, 0);
 font-size: 40px;
 
}


.card{
  width: 300px;
}

.card-body{
  height: 250px;
}


.card-footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
}

.Mybook{
  height: 200px;
  transition: height 1.2s linear;
}







@media screen and (min-width:300px ) {
  
  .Mybook:hover{
    height: 500px;
  }

}



@media screen and (min-width:560px ) {

  .Mybook:hover{
    height: 750px;
  }

}
@media screen and (min-width:750px ) {

  .Mybook:hover{
    height: 880px;
  }

}

@media screen and (min-width:1200px ) {

  .Mybook:hover{
    height:850px;
  }
}
@media screen and (min-width:2200px ) {

  .Mybook:hover{
    height:1200px;
  }
}
