h1{
    color: brown;
    text-align: center;
}
h2{
    color: brown;
    text-align: center;
}

@media screen and (min-width:560px) {

    article{
        color: chocolate;
        width: 70%;
        margin: 0 auto;
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-around;
        background-color: lemonchiffon;
        border-radius: 30px;
        align-items: center;
    }
   
    
    .imag{
        width: 90%;
        margin:30px;
        
    }
    
    .imag img{
        max-width:100%;
    }
    
    .paragraph{
        display: flex;
        flex-direction: column;
        margin: 30px;
    }


    .container-card{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: auto;
    }
    
    }
    
@media screen and (min-width:1200px) {
    

main{
    width: 100%;
}
article{
    color: chocolate;
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: lemonchiffon;
    border-radius: 30px;
}
h1{
    color: brown;
}

.imag{
    width:100%;
    margin:30px
}

.imag img{
    max-width:none;
    width: auto;
}

.paragraph{
    display: flex;
    flex-direction: column;
}

.container-card{
    display: flex;
    flex-direction: row;
    align-items: center;
}

}


